.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
    display: flex;
}

.list {
    width: 100%;
    border: 1px solid #ccc;
}

label {
  display: block;
}
.card {
  position: relative;
  padding: 20px;
  background: grey;
  border: 1px solid;
  border-radius: 10px;
  color: #fff;
}
div[type='inprogress'] .card {
  background: #8a5151;
}
div[type='done'] .card {
  background: #70bf6f;
}
.card .remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
